* {
	font-family: Ubuntu;
}

.heroes .selected {
	background-color: #CFD8DC !important;
	color:            white;
}

h1 {
	text-align:       center;
	padding:          15px 5px;
	z-index:          10;
	position:         fixed;
	top:              -23px;
	left:             0;
	right:            0;
	bottom:           90%;
	background-color: rgba(40, 53, 79, .95);
	color:            white;
}

main {
	position: relative;
	top:      75px;
}

.icon {
	width: 16px;
	color: #FFFFFF;
}

.group {
	position:   relative;
	text-align: center;
}

.roleButton {
	background-color:   rgba(200, 200, 200, 0.5);
	font-size:          1.2rem;
	width:              230px;
	height:             40px;
	border:             1px solid rgba(40, 53, 79, .1);
	border-radius:      0;
	color:              #444444;
	outline:            none;
	-webkit-transition: background-color 500ms;
	-moz-transition:    background-color 500ms;
	-ms-transition:     background-color 500ms;
	-o-transition:      background-color 500ms;
	transition:         background-color 500ms;
	transition:         background-color 500ms;
	text-decoration:    none;
}

.roleButton:first-child {
	border-top-left-radius:    8px;
	border-bottom-left-radius: 8px;
}

.roleButton:last-child {
	border-top-right-radius:    8px;
	border-bottom-right-radius: 8px;
}

.roleButton:hover {
	background-color: rgba(255, 255, 255, 0.3);
	position:         relative;
}

.selectedRole {
	background-color: rgba(255, 255, 255, 0.3) !important;
}

.flex-container {
	display:     inline-flex;
	position:    relative;
	display:     flex;
	flex-wrap:   wrap;
	margin-left: 14.4%;
	width:       80%;
	height:      100%;
}

.item {
	border:             3px solid white;
	margin:             5px;
	background-image:   url("../assets/img/hero/herobg.jpg");
	width:              180px;
	-webkit-transition: 200ms;
	-moz-transition:    200ms;
	-ms-transition:     200ms;
	-o-transition:      200ms;
	transition:         200ms;
	height:             311px;
}

.item:hover {
	transform:      scale(1.1);
	-webkit-filter: brightness(120%);
}

.hero .selected {
	transform:      scale(1.1);
	-webkit-filter: brightness(120%);
}

.heroname {
	background-color: rgba(40, 53, 79, .8);
	height:           10%;
	position:         relative;
	bottom:           14%;
	padding-top:      8px;
	font-size:        1.3rem;
	text-align:       center;
	color:            white;
}

nav {
	width:      100%;
	position:   relative;
	margin:     0;
	top:        70px;
	text-align: center;
}

main > .details {
	text-align: center;
}

.delete{
	position: absolute;
	z-index: 1;
}


