* {
	font-family: Ubuntu;
}

h3 {
	text-align: center;
}

main {
	position: relative;
	top:      100px;
}

.search {
	text-align: center;
}

.item {
	border:           3px solid white;
	margin:           5px;
	background-image: url("../assets/img/hero/herobg.jpg");
	width:            180px;
	height:           311px;
	-webkit-transition: 500ms;
	-moz-transition:    500ms;
	-ms-transition:     500ms;
	-o-transition:      500ms;
	transition:         500ms;
}

.item:hover {
	transform:          scale(1.1);
	-webkit-filter:     brightness(120%);

}

.heroname {
	background-color: rgba(40, 53, 79, .8);
	height:           10%;
	position:         relative;
	bottom:           14%;
	padding-top:      8px;
	font-size:        1.3rem;
	text-align:       center;
	color:            white;
}

.flex-container {
	display:   inline-flex;
	position:  relative;
	display:   flex;
	flex-wrap: wrap;
	left:      51%;
	transform: translateX(-50%);
	width:     50%;
	height:    100%;
}